<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSProgrammingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAE690631C6A79E80015A3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAE6907C1C6A79E80015A3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAE690871C6A79E80015A3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
